{% extends 'base.html' %}

{% block title%}
About
{% endblock %}

{% block content%}

<h1 class="text-center">About Us</h1>
<hr>
<h3><b>welcome to Nova Hospital</b></h3>
<p> The Best Medical Service of Lucknow City. Check Our All Feature
    Welcome to our new website. We encourage you to find out more about the values and vision that guides us, the services and programs we offer, the indicators that ensure our continued accountability and transparency, and the news and events that matter most to you. It is the place where you will find information on career opportunities with HMH and be able to access general healthcare information to keep you well informed.
    
    Nova Hospital has a proud tradition of care. For Last so many years, Nova Hospital has cared for the people of Lucknow, surrounding communities, and beyond, being a significant player within the District. Residing in the heart of a beautiful cottage country on the shores of the Gomti River, we offer healthcare not only to our community residents but to the many visitors who frequent our beautiful area year round.</p>
    
   <b> Vision</b>
   <p> To provide each patient with the world-class care, exceptional service and compassion we would want for our loved ones and To Lead the evolution of healthcare to enable every member of the communities we serve to enjoy a better, healthier life.</p>
    
   <b> Mission</b>
    <p>The mission of Nova Hospital is to provide quality health services and facilities for the community, to promote wellness, to relieve suffering, and to restore health as swiftly, safely, and humanely as it can be done, consistent with the best service we can give at the highest value for all concerned.</p>
{% endblock %}